<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--fixed this where it said-->
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mycss.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <style>
        center {
            font-family: 'Dancing Script', cursive
        ;
        }
    </style>

</head>
<!--https://res.cloudinary.com/dgkpcyab0/image/upload/v1570555570/Black-Gold-Wedding-Reception-Table-Setting-Decor_Summerour-Studio-Wedding_Scoobie-West-Co_Inije-Photography_rg0df7.jpg"-->

<body background="https://res.cloudinary.com/dgkpcyab0/image/upload/c_scale,h_800,w_1200/v1570556790/taverna_20Nissi_Wedding_20set_20up_dusk_kpzwxa.jpg">
<nav class="navbar navbar-light" style="background-color:#e3f2fd">
    <p align="right"> The elegant guest list</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Welcome the 2019 Wedding <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/add">Please Sign in</a>
            <a class="nav-item nav-link" href="/"></a>
            <a class="nav-item nav-link disabled" href="/" tabindex="-1" aria-disabled="true"></a>
        </div>
    </div>
</nav>

<center>
<div class="container">
    <div class="jumbotron jumbotron-billboard">
        <div class="img"></div>
    <div class="container">

        <h1>Welcome to the Wedding of 2019</h1>
        <!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
    </div>
</div>


   <!--<h1 style="color:white;">Welcome to the Wedding of 2019</h1>-->
<!--<a href="/add">Please sign the guest list</a><br />-->

    <table class="table">
        <thead class="thead-dark">

<tr>
    https://github.com/DeeThompson/JavaBootStrapWebsite.git
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Wishes</th>
    <th scope="col">Actions</th>





<tr th:each="guest : ${guests}">
    <td th:text="${guest.name}"></td>
    <td th:text="${guest.date}"></td>
    <td th:text="${guest.wishes}"></td>
<td>
    <a th:href="@{/update/{id}(id=${guest.id})}">Update</a>
    <a th:href="@{/detail/{id}(id=${guest.id})}">Details</a>
    <a th:href="@{/delete/{id}(id=${guest.id})}">Delete</a>


</td></tr>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</thead>
</center>
</body>
</html>